<% layout("/layouts/boilerplate") %>

<div class="mt-4">
    <h2 class="text-center mb-5">Privacy</h2>
    <h5>1. Information We Collect</h5>
<p>When you use this platform, we may collect the following information:
Name, email address, phone number (when you create an account).
Booking details (dates, property selected, payment info).
Information you provide when listing a property (images, location, description, price).</p>

<h5>2. How We Use Your Information</h5>
<p>We use the collected information to:
Create and manage user accounts.
Process bookings</p>
</div>