body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
.container {
    flex: 1;
}
/* Navbar */
.navbar {
    height: 5rem;
    background-color: #fff;
}
.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important; /*jab hum bootstrap ki style ko custom style se overeride karna chahte hain to !important use karte hain*/
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.f-info-socials i {
    margin-right: 3rem;
    font-size: 1.2rem;
}
.f-info {
    text-align: center;
    height: 10rem;
    background-color: #ebebed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;       
    z-index: 10;        /* optional, overlapping avoid karega */
}

/* Cards file(index.ejs) */
.card {
    border: none !important;
    margin-bottom: 2 rem; 
}
.card-img {
    border-radius: 1 rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding-top: 0 !important;
} 
/* new page styling */
.add-btn {
    background-color: red !important;
    border: none !important;
}
.edit-btn {
    background-color: red !important;
    border: none !important;
}
.show-edit-btn{
    background-color: green !important;
    border: none !important;
}
.show-delete-btn{
    background-color: red !important;
    border: none !important;
}